.navbar_catalog {
  background: #333333;
  padding: 10px 0px;
  margin-bottom: 100px;
}

.nav_catalog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_catalog_img {
  width: 150px;
}

.nav_catalog_link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav_catalog_link:hover {
  background: #b4b2b244;
}

.cotolog_data_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.cotolog_data_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #D6D6D6;
  width: 150px;
  padding: 5px 8px 10px 8px;
  cursor: pointer;
}

.cotolog_data_item h3 {
  font-size: 15px;
  letter-spacing: 1px;
  color: #333333;
  font-weight: 400;
}

.fa-caret-down {
  font-size: 20px;
  color: #333333;
}

.cotolog_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.cotolog_box .cotolg_boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin-bottom: 30px;
}

.cotolog_box .cotolg_boxs img {
  width: 250px;
  margin-bottom: 15px;
}

.cotolog_box .cotolg_boxs h2 {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.cotolog_box .cotolg_boxs h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.cotolog_box .cotolg_boxs .button {
  cursor: pointer;
  color: #fff;
  background: #333333;
  font-size: 15px;
  padding: 7px 14px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.cotolog_box .cotolg_boxs .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 3px 10px 2px #33333349;
          box-shadow: 3px 3px 10px 2px #33333349;
}

.catalog_border {
  width: 100%;
  height: 2px;
  background: #D6D6D6;
  margin-bottom: 40px;
}

.cotalog_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 100px;
}

.cotalog_links .catalog_link {
  color: #fff;
  background: #333333;
  font-size: 16px;
  padding: 7px 14px;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.cotalog_links .catalog_link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 3px 10px 2px #33333349;
          box-shadow: 3px 3px 10px 2px #33333349;
}

.catalog_title {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.catalog_title .catalog_lorem {
  position: relative;
  width: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), color-stop(82.29%, #f9f9f91a));
  background: linear-gradient(180deg, #F9F9F9 0%, #f9f9f91a 82.29%);
  color: #a09797;
}

.catalog_title .catalog_lorem h2 {
  color: #333333;
}

.catalog_title .catalog_icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
}

.catalog_title .catalog_icones .catalog_icone {
  width: 150px;
  padding: 10px;
}

.catalog_title .catalog_icones .catalog_icone img {
  width: 50px;
  margin-bottom: 8px;
}

.catalog_title .catalog_icones .catalog_icone h4 {
  font-size: 14px;
  color: #333333;
  width: 50%;
}
/*# sourceMappingURL=catalog.css.map */