.collection_galereya{
    margin-bottom: 100px;
}

.collection_galerey{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .collection_photos{
        width: 300px;
        img{
            cursor: pointer;
            width: 300px;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            transition: .5s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 4px 4px 15px 3px #00000078;
            }
        }
        h1{
            text-align: center;
            color: #fff;
            position: relative;
            bottom: 65px;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}