.collection {
  margin-top: 100px;
  margin-bottom: 70px;
}

.box_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.box_border h3 {
  position: relative;
  font-size: 14px;
  color: #333333;
  margin-bottom: 15px;
}

.box_border h3::before {
  position: absolute;
  content: "";
  border: 3px solid #dc143c;
  width: 15px;
  height: 15px;
  top: -1px;
  left: -4%;
}

.box_border h1 {
  font-size: 25px;
  color: #333333;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.collection_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.collection_list .svadba {
  background: #333333;
  color: #fff;
}

.collection_list .svadba .svadbaa {
  color: #fff;
}

.collection_list .collection_item {
  position: relative;
  border: 1px dashed #33333380;
  padding: 5px 12px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 4px 4px 7px 1px #a09e9e65;
          box-shadow: 4px 4px 7px 1px #a09e9e65;
}

.collection_list .collection_item:hover {
  background: #333333;
}

.collection_list .collection_item:hover a {
  color: #fff;
}

.collection_list .collection_item a {
  color: #333333;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1020px) {
  .container {
    width: 900px;
  }
  .collection .container {
    position: relative;
    left: 100px;
  }
  .collection {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media (max-width: 920px) {
  .container {
    width: 800px;
  }
  .collection .container {
    position: relative;
    left: 150px;
  }
  .collection {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 700px;
  }
  .collection .container {
    position: relative;
    left: 180px;
  }
  .collection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 325px;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 5px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 600px;
  }
  .collection .container {
    position: relative;
    left: 260px;
  }
  .collection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 2px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list {
    width: 325px;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 5px;
  }
}

@media (max-width: 620px) {
  .container {
    width: 500px;
  }
  .collection .container {
    position: relative;
    left: 300px;
  }
  .collection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 325px;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 5px;
  }
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }
  .collection .container {
    position: relative;
    left: 360px;
  }
  .collection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .collection_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 325px;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 5px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 90%;
  }
  .collection .container {
    position: relative;
    left: 420px;
  }
  .collection {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .box_border {
    margin-bottom: 20px;
  }
  .box_border h3 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .box_border h3::before {
    border: 3px solid #dc143c;
    top: -1px;
    left: -5%;
  }
  .box_border h1 {
    text-align: center;
  }
  .collection_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 325px;
  }
  .collection_list .collection_item {
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 5px;
  }
}
/*# sourceMappingURL=collections.css.map */