.catalog_footer_box{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    .catalog_foter_title{
        width: 250px;
        h1{
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 15px;
            color: #333333;
            border-bottom: 1px solid #333333;
        }

        h3{
            font-size: 16px;
            font-weight: 500;
            line-height: 35px;
            color: #333333;
        }

        p{
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
            color: #333333;
        }

        .footer_box_span{
            display: flex;
            align-items: center;
            .foter_photo{
                width: 60px;
                margin-right: 15px;
            }
        }

        .fa-phone{
            color: #333333;
        }

        .footer_icones{
            i{
                cursor: pointer;
                margin-right: 10px;
                padding: 6px;
                color: #333333;
                transition: .3s;
                border-radius: 50%;
                background: #fff;
            }
            .fa-youtube:hover{
                color: #ff0000;
            }
            .fa-whatsapp-square:hover{
                color: #25D366;
            }
            .fa-facebook-f:hover{
                color: #3B5998;
            }
            .fa-telegram:hover{
                color: #0088cc;
            }
            .fa-e:hover{
                color: #FFA500;
            }
        }
    }
}

.foter_list{
    border-top: 3px solid #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    p{
        font-size: 17px;
        color: #333333;
        font-weight: bold;
        letter-spacing: 1px;
    }
}



@media(max-width: 1020px){
    .container{
        width: 900px;
    }

    .catalog_footer .container{
        position: relative;
        left: 110px;
    }
    
    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-between;
        .catalog_foter_title{
            // border: 1px solid black;
            width: 450px;
            h1{
                width: 200px;
                border-bottom: 1px solid #333333;
            }
            p{
                width: 220px;
            }
        }
    }
}

@media(max-width: 920px){
    .container{
        width: 800px;
    }

    .catalog_footer .container{
        position: relative;
        left: 210px;
    }
    
    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 300px;
            h1{
                width: 200px;
                border-bottom: 1px solid #333333;
            }
            p{
                width: 220px;
            }
        }
    }
}

@media(max-width: 820px){
    .container{
        width: 700px;
    }

    .catalog_footer .container{
        position: relative;
        left: 270px;
    }
    
    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 300px;
            h1{
                width: 200px;
                border-bottom: 1px solid #333333;
            }
            p{
                width: 220px;
            }
        }
    }
    .foter_list{
        border: none;
        flex-wrap: wrap;
        width: 600px;
        .footer_item{
            border-top: 1px solid black;
            width: 300px;
            padding: 30px 0px;
        }
    }
}

@media(max-width: 720px){
    .container{
        width: 600px;
    }

    .catalog_footer .container{
        position: relative;
        left: 270px;
    }
    
    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 300px;
            h1{
                width: 200px;
                border-bottom: 1px solid #333333;
            }
            p{
                width: 220px;
            }
        }
    }
    .foter_list{
        border: none;
        flex-wrap: wrap;
        width: 600px;
        .footer_item{
            border-top: 1px solid black;
            width: 300px;
            padding: 30px 0px;
        }
    }
}

@media(max-width: 620px){
    .container{
        width: 500px;
    }

    .catalog_footer .container{
        position: relative;
        left: 370px;
    }

    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 200px;
            h1{
                width: 220px;
                border-bottom: 1px solid #333333;
            }
            p{
                width: 220px;
            }
        }
    }
}

@media(max-width: 520px){
    .container{
        width: 400px;
    }

    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 190px;
            h1{
                width: 190px;
                border-bottom: 1px solid #333333;
            }

            h3{
                line-height: 28px;
            }
            p{
                width: 220px;
            }
        }
    }
    .footer{
        position: relative;
        right: 100px;
    }
}

@media(max-width: 420px){
    .container{
        width: 90%;
    }


    .catalog_footer_box{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-evenly;
        .catalog_foter_title{
            width: 150px;
            h1{
                width: 190px;
                border-bottom: 1px solid #333333;
            }

            h3{
                line-height: 28px;
            }
            p{
                width: 220px;
            }
        }
    }

    .footer{
        position: relative;
        right: 70px;
    }
}