.jewerly{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.jewerly_smile_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    h2{
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #333333;
        margin-bottom: 11px;
    }
    h1{
        font-size: 22px;
        color: #000000;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.jewerly_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1150px;
    height: 700px;
    // border: 1px solid black;
    img{
        width: 323px;
        height: 350px;
        transition: .5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .width{
        height: 350px;
        width: 502px;
    }
    .hight{
        height: 350px;
        width: 502px;
    }
    .left{
        position: relative;
        width: 70px;
        height: 70px;
        bottom: 80%;
        right: 25%;
        transform: none;
    }
    .right{
        transform: none;
        position: relative;
        width: 70px;
        height: 70px;
        bottom: 30%;
        left: 25%;
        // background: #000;
    }
}

@media(max-width: 1020px){
    .container{
        width: 900px;
    }

    .jewerly .container{
        position: relative;
        left: 100px;
    }

    .jewerly_box{
        position: relative;
        left: 50px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
    .left, .right{
        display: none;
    } 
}

@media(max-width: 920px){
    .container{
        width: 800px;
    }

    .jewerly .container{
        position: relative;
        left: 190px;
    }

    .jewerly_box{
        position: relative;
        left: 1px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
   
}

@media(max-width: 820px){
    .container{
        width: 700px;
    }

    .jewerly .container{
        position: relative;
        left: 250px;
    }

    .jewerly_box{
        position: relative;
        left: -50px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
    .left, .right{
        display: none;
    } 
}

@media(max-width: 720px){
    .container{
        width: 600px;
    }

    .jewerly .container{
        position: relative;
        left: 300px;
    }

    .jewerly_box{
        position: relative;
        left: -110px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
}

@media(max-width: 620px){
    .container{
        width: 500px;
    }

    .jewerly .container{
        position: relative;
        left: 340px;
    }

    .jewerly_box{
        position: relative;
        left: -160px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
}

@media(max-width: 520px){
    .container{
        width: 400px;
    }

    .jewerly .container{
        position: relative;
        left: 400px;
    }

    .jewerly_box{
        position: relative;
        left: -200px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }
}

@media(max-width: 420px){
    .container{
        width: 90%;
    }

    .jewerly .container{
        position: relative;
        left: 440px;
    }

    .jewerly_box{
        position: relative;
        left: -220px;
    }

    .jewerly_box{   
        width: 800px;
        height: 1000px;
        img{
            width: 200px;
            height: 200px;
            
        }
         .width{
            height: 400px;
            width: 800px;
        }
        .hight{
            height: 400px;
            width: 800px;
        }
    }

}
